.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "sidebar graphscontainer graphscontainer graphscontainer"
    "sidebar graphscontainer graphscontainer graphscontainer";
}

#navbar {
  display: grid;
  grid-template-columns: 0.4fr 1.8fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "titlelogo titlename signup-login";
  grid-area: navbar;
  background-color: palevioletred;
}

#GraphsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 0.8fr;
  gap: 5px 5px;
  grid-template-areas:
    "graphleft graphcenter graphright"
    "graphlarge graphlarge graphlarge";
  grid-area: graphscontainer;
  background-color: plum;
}

#GraphLarge { 
  grid-area: graphlarge; 
  background-color: lightgreen;
}

#GraphLeft { 
  grid-area: graphleft;
  background-color: red;
}

#GraphCenter { 
  grid-area: graphcenter; 
  background-color: cyan;
}

#GraphRight { 
  grid-area: graphright; 
  background-color: yellow;
}

#titleLogo { 
  grid-area: titlelogo; 
  background-color: violet;
}

#titleName { 
  grid-area: titlename;
  background-color: teal;
}

#signup-login { 
  grid-area: signup-login; 
}

#sidebar { 
  grid-area: sidebar;
  background-color: orange;
}
